@import './color.scss';

@mixin sub-heading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: $darker-orange;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

@mixin heading-secondary($font-size: 4.4rem, $margin-bottom: 4.8rem) {
    font-size: $font-size;
    line-height: 1.2;
    margin-bottom: $margin-bottom;
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}

@mixin general-ul-style {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

@mixin general-li-style {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
    font-size: 1.8rem;
}

@mixin general-icon-style {
    height: 3rem;
    width: 3rem;
    color: $lighter-orange;
}
