@import '../../assets/scss/variable.scss';

.section-meals {
    padding: 96px 0;

    .section-meals--text-container {
        text-align: center;

        .section-meal--title {
            @include sub-heading;
        }

        .section-meal--paragraph {
            @include heading-secondary;
        }
    }

    .section-meals--link-container {
        text-align: center;
        margin-top: 48px;

        a:link,
        a:visited {
            font-size: 18px;
            text-decoration: none;
            color: $lighter-orange;
            border-bottom: 1px solid currentColor;
            transition: all 0.3s;
        }

        a:hover,
        a:active {
            border-bottom: 1px solid transparent;
            color: $darker-orange;
        }
    }
}
