@import '../../assets/scss/variable.scss';

.section-meals {
    padding: 9.6rem 0;

    .section-meals--text-container {
        text-align: center;

        .section-meal--title {
            @include sub-heading;
        }

        .section-meal--paragraph {
            @include heading-secondary;

            @include landscape-desktop {
                @include heading-secondary(3.6rem);
            }

            @include smaller-tablet {
                @include heading-secondary(3.6rem, 4.8rem);
            }
        }
    }

    .section-meals--link-container {
        text-align: center;
        margin-top: 4.8rem;

        a:link,
        a:visited {
            font-size: 1.8rem;
            text-decoration: none;
            color: $lighter-orange;
            border-bottom: 0.1rem solid currentColor;
            transition: all 0.3s;
        }

        a:hover,
        a:active {
            border-bottom: 0.1rem solid transparent;
            color: $darker-orange;
        }
    }
}
