@import '../../assets/scss/variable.scss';

.footer-section {
    padding: 12.8rem 0;
    border-top: 0.1rem solid #eee;

    .footer-section--container {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
        row-gap: 9.6rem;
        column-gap: 6.4rem;
    }

    .footer-title {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 3.2rem;
    }

    .social-logo {
        display: flex;
        flex-direction: column;
        line-height: 1.6;

        .logo {
            height: 2.2rem;
        }

        a {
            display: inline-block;
            margin-bottom: 3.2rem;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 2.4rem;
        }

        p {
            font-size: 1.4rem;
            margin-top: auto;
        }
    }

    .address-email {
        display: flex;
        flex-direction: column;
        height: 100%;

        .address {
            line-height: 1.6;
        }

        .contact-detail {
            font-style: normal;
            font-size: 1.6rem;
            line-height: 1.6;
            margin-top: auto;
        }
    }

    .footer-data {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
        }
    }

    .footer-link {
        &:link,
        &:visited {
            font-size: 1.6rem;
            text-decoration: none;
            color: #767676;
            transition: all 0.3s;
        }

        &:hover,
        &:active {
            color: #555;
        }
    }

    @include smaller-tablet() {
        .footer-section--container {
            grid-template-columns: repeat(6, 1fr);

            .social-logo,
            .address-email {
                grid-column: span 3;
            }

            .footer-data {
                grid-column: span 2;
                grid-row: 1;
                margin-bottom: 3.2rem;
            }
        }
    }
}
