@import '../../assets/scss/variable.scss';

.pricing-section {
    padding: 9.6rem 0;

    .pricing-section--header__price {
        @include sub-heading;
    }

    .pricing-section--header__title {
        @include heading-secondary;

        @include landscape-desktop {
            @include heading-secondary(3.6rem);
        }

        @include smaller-tablet {
            @include heading-secondary(3.6rem, 4.8rem);
        }
    }

    .pricing-section--paragraph {
        font-size: 1.6rem;
        line-height: 1.6;
        text-align: center;
        margin-top: 4.8rem;
        margin-bottom: 9.6rem;
    }
}
