@import '../../assets/scss/variable.scss';

.sign-up-section {
    padding: 4.8rem 0 12.8rem 0;

    .sign-up-section--container {
        max-width: 120rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-image: linear-gradient(to right, #eb984e, #e67e22);
        border-radius: 0.9rem;
        overflow: hidden;
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

        .sign-up-section--text {
            padding: 4.8rem 6.4rem 6.4rem 6.4rem;
            color: #2e1907;

            h2 {
                @include heading-secondary;
                color: #2e1907;
                margin-bottom: 3.2rem;

                @include landscape-desktop {
                    @include heading-secondary(3.6rem);
                }

                @include smaller-tablet {
                    @include heading-secondary(3.6rem, 4.8rem);
                }
            }

            p {
                font-size: 1.8rem;
                line-height: 1.8;
                margin-bottom: 4.8rem;
            }

            .sign-up-section--text__form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 3.2rem;
                row-gap: 2.4rem;

                .sign-up-btn {
                    width: 100%;
                    align-self: end;
                    text-align: center;
                    padding: 1.35rem;
                    background-color: #45260a;
                    color: $background-color;
                    box-shadow: none;

                    &:hover {
                        background-color: #fff;
                        color: #333;
                    }
                }
            }
        }

        .sign-up-section--image {
            background-image: linear-gradient(
                    to right,
                    rgba(235, 151, 78, 0.35),
                    rgba(230, 125, 34, 0.35)
                ),
                url('../../assets/img/eating.jpg');
            background-size: cover;
            background-position: center;
        }
    }

    @include tablet {
        .sign-up-section--container {
            grid-template-columns: 60fr 40fr;

            .sign-up-section--text {
                .sign-up-section--text__form {
                    grid-template-columns: 1fr;

                    .sign-up-btn {
                        margin-top: 1.2rem;
                    }
                }
            }
        }
    }

    @include mobile {
        .sign-up-section--container {
            grid-template-columns: 1fr;

            .sign-up-section--text {
                padding: 3.2rem;
            }

            .sign-up-section--image {
                height: 32rem;
                grid-row: 1;
            }
        }
    }
}
