@import '../../../assets/scss/variable.scss';

.diet-container {
    .diet-container--title {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 32px;
    }
    .diet-container--items {
        @include general-ul-style;

        .diet-container--item {
            @include general-li-style;

            span {
                font-size: 18px;
            }

            .diet-container--item__logo {
                @include general-icon-style;
            }
        }
    }
}
