@import '../../../assets/scss/variable.scss';

.diet-container {
    .diet-container--title {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 32px;
    }
    .diet-container--items {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .diet-container--item {
            display: flex;
            align-items: center;
            gap: 16px;

            span {
                font-size: 18px;
            }

            .diet-container--item__logo {
                height: 30px;
                width: 30px;
                color: $lighter-orange;
            }
        }
    }
}
