.testimonial-figure {
    .testimonial-figure--photo {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-bottom: 12px;
    }

    .testimonial-figure--feedback {
        font-size: 18px;
        line-height: 1.8;
        margin-bottom: 16px;
    }

    .testimonial-figure--name {
        font-size: 16px;
        color: #6f6f6f;
    }
}
